<form method="get" action="/quizes/<%= quiz.id %>/answer">
  <p>Pregunta: <%= quiz.pregunta %></p>
  <p>(Tema: <%= quiz.tema %>)</p> 
  <input type="text" name="respuesta" placeholder="Respuesta" />
  <input type="submit" value="Enviar" />
</form>	 

